header {
  align-items: center;
  display: flex;
  position: relative;
}

header a {
  color: #0984e3;
  text-decoration: none;
}

.site-title {
  font-family: courier, monospace;
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 0 20px;
  padding-top: 72px;
}

body {
  background-color :#81ecec;
  width: 800px;
  margin: 0 auto;
  padding: 30px;
}

.due {

  margin: 0 0 15px 0px;
}

#date{
  color: #e17055;
  font-size: 42px;
  letter-spacing: -2px;
  text-align: left;
  padding: 0 0 0 5px;
}

.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 800px;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}

.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}

.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  /*-moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;*/
  text-decoration: line-through;
}

.compList li {

  text-decoration: line-through;
}

.remove {
  display: none;
  float: right;
  font-size: 14px;
  text-transform: lowercase;
}

li:hover .remove {
  display: block;
}

/*.hide + .remove {
  display: block;
}*/

#lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 460px;
  margin-left: 40px;
}

#task-input {
  color: #555;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  background: #ffeaa7;
  border-bottom: 1px dotted #ccc;
  height: 44px;
  width: 588px;
  text-indent: 12px;
  text-transform: capitalize;
  border:0px;
  margin: 0 0 0 22px;
  float: left;
  outline: none;
}

#addTask {
  height: 46px;
  color: #f0f0f0;
  font-weight: bold;
  background: #00b894;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  border: 0px;
  float: right;
  padding: 0 15px 0 15px;
}

#addTask:hover {

  background: #0984e3;
}


.accordion {
  background-color: #ffeaa7;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.active, .accordion:hover {
  background-color: #f0f0f0;
}

.panel {
    padding: 0 18px 0 0;
    margin:0px;
    background-color: #ffeaa7;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

div.panel {
  display: none;
}

div.panel.show {
  display: block !important;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #636e72;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.doneList {
  text-decoration: line-through;
}

.doneList:hover {
  text-decoration: none;
}
